.pnav{
    padding: 0 25px;
    padding-top: 10px;
}
.colornav{
    background-color: rgb(158, 133, 175);
    ;
}
.grid{
    display: grid;
    grid-template-rows: max-content;
   
    
}
.cajitaimg{
    margin-left: 65% ;
    margin-right: 6%;
    position: relative;
    top: -170px;     
}
.margincajitaimg{
    margin-bottom: -100px;
}
   

.marginParrafo1{
    margin-right: 50%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    text-align: justify;
    float: left;
}
.marginParrafo2{
    margin-right: 15%;
    margin-left: 15%;
    padding: 3%;
    text-align: justify;
    float: right;
}
.tamañoletralogo{
    font-size: 12px;
    letter-spacing: 12.5px;
    font-weight: bold;
    font-family: sans-serif ;
}
.bgquienessomos{
    background-color:rgb(162, 164, 252);
}
.bgnuestroproducto{
    background-color: rgb(99, 96, 250);
}
.bgformulario{
    background-color:rgb(241, 187, 241);
}
.bglanding{
    background-color: rgb(99, 96, 250);
}
.tamañofooter{
    width: 1902px;
    height: 300px;
}

.colorfooter{
    background-color: #9f7fb1;
}
.mypiconos{
    margin-left: 5px ;
    
}