.pnav{
    padding: 0 25px;
    padding-top: 10px;
}
.colornav{
    background-color: rgb(158, 133, 175);
    ;
}
.grid{
    display: grid;
    grid-template-rows: max-content;
    
}
.margincajitaimg{
    margin-left: 70% ;
    margin-right: 6%;
    
}
.marginParrafo1{
    margin-right: 50%;
    padding-left: 2.5%;
    text-align: justify;
    float: left;
}
.marginParrafo2{
    margin-right: 15%;
    margin-left: 15%;
    text-align: justify;
    float: right;
}
.tamañoletralogo{
    font-size: 12px;
    letter-spacing: 12.5px;
    font-weight: bold;
    font-family: sans-serif ;
}
.bgquienessomos{
    background-color:rgb(242,222,242);
}
.bgnuestroproducto{
    background-color: rgb(236,217,245);
}
.bgformulario{
    background-color:rgb(237, 181, 228);
}